<html>
  <head>
    <title>Post Data</title>
  </head>
  <body>
    <h1>Post Data</h1>
    <form method="post">
      {% csrf_token %}
      <div>
        <label for="platformcode">Platform Code:</label>
        <input type="text" id="platformcode" name="platformcode">
      </div>
      <div>
        <label for="citycode">City Code:</label>
        <input type="text" id="citycode" name="citycode">
      </div>
      <div>
        <label for="daycode">Day Code:</label>
        <input type="text" id="daycode" name="daycode">
      </div>
      <div>
        <label for="ip_address">IP Address:</label>
        <input type="text" id="ip_address" name="ip_address">
      </div>
      <div>
        <label for="login_id">Login ID:</label>
        <input type="text" id="login_id" name="login_id">
      </div>
      <div>
        <label for="session_id">Session ID:</label>
        <input type="text" id="session_id" name="session_id">
      </div>
      <div>
        <label for="processcode">Process Code:</label>
        <input type="text" id="processcode" name="processcode">
      </div>
      <div>
        <label for="regional_code">Regional Code:</label>
        <input type="text" id="regional_code" name="regional_code">
      </div>
      <div>
        <label for="dowell_code">Dowell Code:</label>
        <input type="text" id="dowell_code" name="dowell_code">
      </div>
      <div>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location">
      </div>
      <div>
        <label for="objectcode">Object Code:</label>
        <input type="text" id="objectcode" name="objectcode">
      </div>
      <div>
        <label for="instancecode">Instance Code:</label>
        <input type="text" id="instancecode" name="instancecode">
      </div>
      <div>
        <label for="context">Context:</label>
        <input type="text" id="context" name="context">
      </div>
      <div>
        <label for="document_id">Document ID:</label>
        <input type="text" id="document_id" name="document_id">
      </div>
      <div>
        <label for="rules">Rules:</label>
        <input type="text" id="rules" name="rules">
      </div>
      <div>
        <label for="status">Status:</label>
        <input type="text" id="status" name="status">
      </div>
      <div>
        <label for="data_type">Data_type:</label>
        <input type="text" id="data_type" name="data_type">
      </div>
      <div>
        <label for="purpose_of_usage">Purpose_of_usage:</label>
        <input type="text" id="status" name="purpose_of_usage">
      </div>
      <div>
        <label for="colour">Colour:</label>
        <input type="text" id="colour" name="colour">
      </div>
      <div>
        <label for="hastags">Hastags:</label>
        <input type="text" id="Hastags" name="hastags">
      </div>
      <div>
        <label for="mentions">Mentions:</label>
        <input type="text" id="mentions" name="mentions">
      </div>
      <div>
        <label for="emojis">Emojis:</label>
        <input type="text" id="emojis" name="emojis">
      </div>
      <button type="submit">Submit</button>
    </body>
  </html>
      
        
